<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Homepage ex 3</h2>

<p>Secções</p>
<table style="width:100%">

    <tr>
        <td><a href="/books">Books</a></td>
    </tr>
    <tr>
        <td><a href="/authors">Authors</a></td>
    </tr>
    <tr>
        <td><a href="/publishers">Publishers</a></td>
    </tr>

    <tr>
        <td><a href="/booksearch">Search Books - Simple Forms</a></td>
    </tr>

    <tr>
        <td><a href="/booksearch2">Search Books - Django Forms & Form Classes</a></td>
    </tr>

    <tr>
        <td><a href="/author_search">Search Authors - Django Forms & Form Classes</a></td>
    </tr>

     <tr>
        <td><a href="/insert_author">Insert Authors - Django Forms & Form Classes</a></td>
    </tr>
     <tr>
        <td><a href="/insert_book">Insert Books - Django Forms & Form Classes</a></td>
    </tr>
     <tr>
        <td><a href="/insert_publisher">Insert Publishers - Django Forms & Form Classes</a></td>
    </tr>

</table>
</body>
</html>
